<footer>
<img src="https://louisvilleky.gov/sites/default/files/parks/photos/exercise_banner_0.jpg" alt="workout banner">
  <button type="button" class="btn btn-dark btn-lg"><a href="/workouts/new">Log New Workout</a></button>



   <button type="button" class="btn btn-dark btn-lg"><a href="/workouts">Past Workouts</a></button>
 </footer>
