<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
<h1>RATE YOUR WORKOUT</h1>

    <div class="intensity_rating">
      <p>Rate the Intensity of your workout on a scale of 1 to 3. Be honest.</br></br>

            <button type="button" class="btn btn-outline-dark"><a href="/workouts/1intensity" class="button">1</a></button> being very easy, able to talk during it, barely broke a sweat.</br>

            <button type="button" class="btn btn-outline-dark"><a href="/workouts/2intensity" class="button">2</a></button> being you completed all of your goals but you didn't go above and beyond. <br/>

            <button type="button" class="btn btn-outline-dark"><a href="/workouts/3intensity" class="button">3</a></button> being you pushed yourself to the max, almost died and were sweating buckets. </p>

    </div>

  </body>
</html>
