<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h1>RATE YOUR WORKOUT</h1>

    <div class="intensity_rating">
      <h2>Rate the Intensity of your workout on a scale of 1 to 5. 1 being very easy, able to talk during it, barely broke a sweat. 5 being you pushed yourself to the max, almost died and were sweating buckets. </h2>

    <a href="/workouts/1intensity" class="button">1</a>
    <a href="/workouts/2intensity" class="button">2</a>
    <a href="/workouts/3intensity" class="button">3</a>
    <a href="/workouts/4intensity" class="button">4</a>
    <a href="/workouts/5intensity" class="button">5</a>



    </div>

  </body>
</html>
