<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">

    <title>Log Your Workout</title>
  </head>
  <body>

<h1>Log Your Workout</h1>

<div class="container">

    <form action="/workouts" method="POST">

    <legend>Workout Details</legend>
    <label for="date">Date</label>
      <input type="date" name="date" placeholder="Date" id="date"/> <br/>

    <span>Workout Type</span>
  <div class="custom-control custom-checkbox">


    <label for="workout-type">Run
      <input type="checkbox" id="run" name="run" value="run"/>
    </label>
    <label for="workout-type">Weight Lifting
      <input type="checkbox" id="weights" name="weights" value="weights"/>
    </label>
  </div>

  <div class="notes">
    <label for="notes"><span>Notes</span></label><br/>
    <textarea name="notes" rows="8" cols="80"></textarea>
  </div>
  <div class="submit">
    <label for="submit"></label>
    <input type="submit" id="submit" name="" value="submit">
  </div>
  </form>

  </div>


  </body>
</html>
