<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>
    <h1>Show Page </h1>

<div class="showWorkout">
  <p>Date: <%=workouts.date%></p>

  <p>Workout Type:
    <% if (workouts.run === true){ %>
          Run
    <%} else {%>
          Weights
    <%}%>

  </p>
  <p>Notes: <%=workouts.notes%></p>

</div>


    <section>
      <form action="/workouts/<%=workouts.id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Workout"/>
      </form>
    </section>

    <section>
      <a href="/workouts/<%=workouts.id%>/edit">Edit Workout</a>
    </section>

  </body>
</html>
