<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Workout Tracker Home Page</h1>

    <nav>
      <ul>
        <li>
          <a href="/workouts">Past Workouts</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
