<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>

    <div class="jumbotron">


    <h1 class="display-3">Level 1 Intensity</h1>
    <img src="https://i1.wp.com/gifrific.com/wp-content/uploads/2012/10/Homer-Sitting-on-Chair-on-Treadmill.gif?ssl=1" alt="simpsons treadmill">

    <p class="lead">Ok, so you got a workout in but there's more to going to the gym than getting a good selfie in by the weight racks. </p>
    <hr class = "my-3">

    <p>Here are some excellent resources for how you can increase the intensity of your next workout: </p>
    <a href="https://www.muscleandfitness.com/workouts/workout-routines/5-fun-hiit-workouts-get-you-through-week"target="_blank">Intensity Workout 1</a>
</br>
    <a href="https://dailyburn.com/life/db/hiit-workouts-for-beginners/">High Intensity Workout for Beginners</a>

    </div>
    </div>
  </body>
  <footer>

    <button type="button" class="btn btn-dark btn-lg"><a href="/workouts/new">Log New Workout</a></button>



     <button type="button" class="btn btn-dark btn-lg"><a href="/workouts">Past Workouts</a></button>
   </footer>
</html>
