<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title></title>
  </head>
  <body>


    <div class="jumbotron">


    <h1 class="display-3">Level 2 Intensity</h1>
    <img src="https://media.giphy.com/media/3HxuZuqcZj2rS/giphy.gif" alt="michell gun show">

    <p class="lead">Nice work. Not only did you get your workout crossed off of your to-do list, you made it count!  </p>
    <hr class = "my-3">

    <p>Here are some excellent resources for how you can add some variety into your next workouts and also how you can improve your recovery time: </p>
    <a href="https://www.self.com/gallery/make-your-workouts-more-effective"target="_blank">Tips for Adding Variety to your Workout</a>

  </br>

    <a href="https://www.cheatsheet.com/life/7-crucial-stretches-for-post-workout-recovery.html/?a=viewall"target="_blank">Best Post-Workout Recovery Practices</a>

    </div>
    </div>


  </body>
  <footer>

    <button type="button" class="btn btn-dark btn-lg"><a href="/workouts/new">Log New Workout</a></button>



     <button type="button" class="btn btn-dark btn-lg"><a href="/workouts">Past Workouts</a></button>
   </footer>
</html>
